# Azure ML
AZURE_SUBSCRIPTION_ID=
AZURE_RESOURCE_GROUP=
AZURE_ML_WORKSPACE=
AZURE_STORAGE_ACCOUNT=
AZURE_STORAGE_KEY=

# MLflow
MLFLOW_TRACKING_URI=
MLFLOW_EXPERIMENT_NAME=sentimentops

# Redis
REDIS_HOST=localhost
REDIS_PORT=6379

# API
API_ENV=development
MODEL_PATH=

#Dataset
DATASET_NAME = 
CATEGORIES = 
BRONZE_PATH=
BRONZE_ROW_LIMIT= # -- only for dev
SILVER_PATH = 
BRONZE_COLUMNS_TO_DROP =
SILVER_CRITICAL_COLUMNS =
SILVER_DEDUP_KEYS =
GOLD_PATH = 